## Data Preparation

### Fortnite Battle Royale

In [1]:
import numpy as np
import pandas as pd
import os

os.getcwd() # get current working directory

'/Users/gdbr/Documents/Hyper Island/DA24STO/Modules/12. Individual Project/fortnite-store-analysis'

In [2]:
# Load the data
df = pd.read_csv(os.getcwd() + "/csv/" + "store.csv")

# Convert the date column to datetime; add year, quarter, month, week columns
df['date'] =  pd.to_datetime(df['date'], format='%Y-%m-%d')
df['year'] =  df['date'].map(lambda x:x.year)
df['quarter'] =  df['date'].map(lambda x:x.quarter)
df['month'] =  df['date'].map(lambda x:x.month)
df['week'] =  df['date'].map(lambda x:x.week)

In [3]:
display(df.head())
display(df['rarity'].unique())
display(df['item_type'].unique())

,date,rarity,item_type,name,cost,year,quarter,month,week
0,2022-06-15,rare,outfit,Jellie,1200,2022,2,6,24
1,2022-06-15,rare,outfit,Scimitar,1200,2022,2,6,24
2,2022-06-15,rare,wrap,Emblem,500,2022,2,6,24
3,2022-06-15,common,wrap,Rainbow Bubblegum,300,2022,2,6,24
4,2022-06-15,uncommon,pickaxe,Fit Stick,500,2022,2,6,24

array(['rare', 'common', 'uncommon', 'icon_series', 'epic', 'slurp',
       'legendary', 'marvel', 'gaming_legends', 'dc', 'shadow', 'lava',
       'star_wars', 'frozen', 'dark'], dtype=object)

array(['outfit', 'wrap', 'pickaxe', 'skydive', 'bundle', 'emote',
       'glider', 'spray', 'misc', 'music', 'backpack', 'banner',
       'loading', 'emoji', 'pet', 'toy'], dtype=object)

In [4]:
# Order df by date
df = df.sort_values(by=['date'])

In [5]:
display(df.head())

,date,rarity,item_type,name,cost,year,quarter,month,week
28897,2017-10-30,rare,outfit,First strike Specialist,1200,2017,4,10,44
28895,2017-10-30,epic,outfit,Ghoul Trooper,1500,2017,4,10,44
28900,2017-10-30,uncommon,outfit,Scout,800,2017,4,10,44
28899,2017-10-30,uncommon,glider,Petunia,500,2017,4,10,44
28898,2017-10-30,rare,outfit,Recon Expert,1200,2017,4,10,44

In [6]:
# Write df to csv file
df.to_csv(os.getcwd() + "/csv/" + "store_updated.csv", index=False)